$white-cont: #fefefe;

$font-color: #333333;

$grey-dark: #b6b4b5;
$grey-light: #c0c0c0;
$blue-light: #2c71f6;
$blue-dark: #2552ac;
$blue-cyan: #5296a2;
$white-font: #F1F4F6;

/* Backgroun Color*/

$bg: #f1fafb;
$blur-bg: rgba(37, 82, 172, 0.33);

/* Shadow */

$shadow_1: 0px 0px 10px rgba(37, 82, 172, 0.2);
$shadow_2: 0px 1px 15px -2px rgba(192, 192, 192, 0.23);
