$white-cont: #FEFEFE;

$font-color: #333333;

$grey-dark: #B6B4B5;
$grey-light: #C0C0C0;
$blue-light: #2C71F6;
$blue-dark: #2552AC;
$blue-cyan: #5296A2;


/* Backgroun Color*/

$bg: #F1FAFB;
$blur-bg: rgba(37, 82, 172, 0.33);


/* Shadow */

$shadow_1: 0px 0px 10px rgba(37, 82, 172, 0.2);