.btn {
  cursor: pointer;
  border: none;
  width: 100%;
  box-shadow: $shadow_1;
  border-radius: 1rem;
}

.btn-primary {
  @include font(14px, 'h-b', $white-font);
  background-color: $blue-dark;
  padding: 0.85rem 2rem;
}

.btn-secondary {
  @include font(14px, 'h-b', $grey-dark);
  background-color: $white-cont;
  padding: 1.4rem 2rem;
}
