.course-popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(37, 82, 172, 0.33);
  z-index: 9999;
  &__box {
    position: relative;
    top: -85vh;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: $white-cont;
    padding: 3rem;
    width: 80%;
    height: 90vh;
    border-radius: 10px;
    overflow: scroll;

    @media only screen and (min-width: 600px) {
      padding: 4rem 5rem;
    }
  }

  &__icon-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
    & a {
      cursor: pointer;
    }
    & svg {
      width: 2rem;
      height: 2rem;
      fill: $grey-dark;
      transition: all 0.2s;
      &:hover {
        fill: #000;
      }
    }
  }

  &__content {
    @media only screen and (min-width: 600px) {
      display: flex;
      justify-content: space-between;
    }
    @media only screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr 1fr 0.5fr;
      grid-template-rows: repeat(2, 1fr);
    }
  }

  &__text-container {
    @media only screen and (min-width: 600px) {
      flex-basis: 40%;
    }
    @media only screen and (min-width: 1200px) {
      grid-column: 2 / -1;
      grid-row: 2 / 2;
      background-color: $bg;
      border-radius: 10px;
      padding: 3.5rem 4.4rem;
    }
  }

  &__main-heading-container {
    text-align: center;
    margin-bottom: 3.6rem;
    @media only screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__info {
    margin-bottom: 3.6rem;
    @media only screen and (min-width: 1200px) {
      justify-self: flex-start;
    }
  }

  &__paragraph {
    @include font(1.8rem, h-l, #000); // This on review
    line-height: 21.72px;
  }

  &__secondary-heading-container {
    margin-bottom: 1.5rem;
  }

  &__mentor-container {
    @media only screen and (min-width: 600px) {
      & > *:first-child {
        text-align: center;
      }
    }
    @media only screen and (min-width: 1200px) {
      grid-row: 1 / 1;
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr 1fr 0.5fr;
    }
  }

  &__span-button {
    display: block;
    color: $blue-light;
    font-size: 1.4rem;
  }

  &__span-more-text {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  &__span-less {
    display: block;
    color: $blue-light;
    font-size: 1.4rem;
  }

  &__price {
    @include font(3rem, h-b, #000);
    margin-bottom: 1rem;
    @media only screen and (min-width: 600px) {
      margin-bottom: 0.5rem;
    }
    @media only screen and (min-width: 1200px) {
      margin-bottom: 1.5rem;
      font-size: 5rem;
      font-weight: 500;
    }
  }
  &__meeting {
    @include font(1.4rem, h-m, #000);
    margin-bottom: 2rem;
    @media only screen and (min-width: 1200px) {
      font-size: 2rem;
      font-weight: 500;
    }
  }
  &__button-registration-container {
    margin-bottom: 2rem;
  }
  &__button-contact-container {
    @media only screen and (min-width: 1200px) {
      justify-self: center;
      width: 50%;
    }
  }
  &__img-container {
    text-align: center;
    margin-bottom: 2rem;
    & > div {
      width: 50%;
    }
    & img {
      margin: 0 auto;
      border-radius: 50%;
    }
    @media only screen and (min-width: 1200px) {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }
  }

  &__registration-form {
    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__registration-input {
    padding: 1.2rem 1.1rem;
    @include font(14px, "h-r", $grey-dark);

    box-shadow: $shadow_1;
    border-radius: 1rem;
    &:focus::placeholder {
      color: transparent;
    }
    &::placeholder {
      color: $grey-dark;
    }
    &--time {
      width: 100%;
      & option:not(:first-child) {
        color: #000;
      }
    }
    &--textarea {
      width: 100%;

      &::placeholder {
        text-align: left;
      }
    }
  }

  &__radio {
    display: block;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    @include font(14px, "h-r", $grey-dark);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .course-popup__checkmark {
        background-color: #fff;
      }
      &:checked ~ .course-popup__checkmark::after {
        display: block;
      }
    }
  }
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid $blue-cyan;

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 3px;
      left: 3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $blue-cyan;
    }
  }
}
