.course-popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(37, 82, 172, 0.33);
  z-index: 9999;
  &__box {
    position: relative;
    top: -85vh;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: $white-cont;
    padding: 3rem;
    width: 80%;
    height: 90vh;
    border-radius: 10px;
    overflow: scroll;

    @media only screen and (min-width: 600px) {
      display: flex;
      justify-content: space-between;
      padding: 4rem 5rem;
    }
  }

  &__text-container {
    @media only screen and (min-width: 600px) {
      flex-basis: 40%;
    }
  }

  &__main-heading-container {
    text-align: center;
    margin-bottom: 3.6rem;
  }

  &__info {
    margin-bottom: 3.6rem;
  }

  &__paragraph {
    @include font(1.4rem, h-l, #000); // This on review
    line-height: 1.8rem;
  }

  &__secondary-heading-container {
    margin-bottom: 1.5rem;
  }

  &__mentor-container {
    @media only screen and (min-width: 600px) {
      & > *:first-child {
        text-align: center;
      }
    }
  }

  &__span-button {
    display: block;
    color: $blue-light;
    font-size: 1.4rem;
  }

  &__span-more-text {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &__price {
    @include font(3rem, h-b, #000);
    margin-bottom: 1rem;
    @media only screen and (min-width: 600px) {
      margin-bottom: 0.5rem;
    }
  }
  &__meeting {
    @include font(1.4rem, h-m, #000);
    margin-bottom: 2rem;
  }
  &__button-registration-container {
    margin-bottom: 2rem;
  }
}
