////////// Headings //////////////
.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.621rem;
}

.heading-tertiary {
  font-size: 1.8rem;
  color: $grey-dark;
  line-height: 2.16rem;
  font-weight: 700;
}

.heading-quaternary {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 500;
}
