.footer {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;

  &__copyright-text {
    color: #b6b4b5;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  &__social-media {
    display: flex;

    &>*:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__icon-container {
    width: 5rem;
    height: 5rem;
    background-color: #f1fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
}