.header {
  background-color: $white-cont;
  padding: 1.1rem 3.4rem 1.3rem 3.4rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  @include flex($justify: space-between, $direct: row-reverse);

  &__user-panel {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
    & > *:last-child > button {
      height: 100%;
      width: 164px;
    }
  }
  &__icon-container {
    width: 5rem;
    height: 5rem;
    background-color: $bg;
    @include flex;
    border-radius: 1rem;
    @media only screen and (min-width: 1200px) {
      position: relative;
    }
    & > a {
      height: 100%;
      width: 100%;
      @include flex;
    }
  }
}
