body {
  background-color: $bg;
}
img {
  display: block;
  width: 100%;
}

input {
  width: 100%;
  border: none;
  outline: none;
}
.section-choice-cont, .section-cards, .section-search{
  padding: 0 3.5rem;

  @include md(tablet) {
    padding: 0 5.1rem;
  }
  @include md(desktop) {
    padding: 0 10rem;
  }
}