*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

//////////// Base Styles ////////////
img {
  display: block;
  width: 100%;
}
input {
  width: 100%;
  border: none;
  outline: none;
}

////////// Section Search ///////////
.section-search {
  background-color: #f1fafb;
  padding: 2rem;

  &__heading-container {
    margin-bottom: 4rem;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  &__input-field {
    &--name {
      grid-column: 1 / -1;
    }
    &--location {
      grid-column: 1 / -1;
    }
  }
  &__input {
    padding: 0.85rem 2rem;
    font-size: 1.4rem;
    line-height: 1.68rem;
    font-weight: 700;
    color: #b6b4b5;
    text-align: center;
    box-shadow: 0px 0px 1rem rgba(37, 82, 172, 0.1);
    border-radius: 1rem;
    &:focus::placeholder {
      color: transparent;
    }
    &::placeholder {
      text-align: center;
    }
  }
}

////////// Section Cards   //////////
.section-cards {
  background-color: #f1fafb;
  padding: 2rem;

  &__heading-container {
    margin-bottom: 2rem;
  }
  &__cards-container {
    margin-bottom: 3rem;
  }
}

///////// Footer ////////////////

.footer {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;

  &__copyright-text {
    color: #b6b4b5;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  &__social-media {
    display: flex;
    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &__icon-container {
    width: 5rem;
    height: 5rem;
    background-color: #f1fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
}

////////// Components /////////

////////// Card ///////////
.card {
  background-color: #fff;
  padding: 2.5rem;
  box-shadow: 0px 1px 15px -2px rgba(192, 192, 192, 0.23);
  border-radius: 1rem;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__img-container {
    margin-bottom: 1rem;
  }
  &__course-info {
    display: flex;
    justify-content: space-between;
  }
  &__text-container {
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__course-name {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: #c0c0c0;
  }
  &__course-price {
    font-size: 3rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #2c71f6;
  }
  &__mentor-img-container {
    & img {
      border-radius: 50%;
    }
  }
}

////////// Buttons //////////////

.btn {
  cursor: pointer;
  border: none;
  width: 100%;
  font-weight: 700;
  box-shadow: 0px 0px 10px rgba(37, 82, 172, 0.1);
  border-radius: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #2552ac;
  padding: 0.85rem 2rem;
}

.btn-secondary {
  font-size: 1.8rem;
  line-height: 2.16rem;
  color: #b6b4b5;
  background-color: #fff;
  padding: 1.4rem 2rem;
}

////////// Headings //////////////
.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.621rem;
}

.heading-tertiary {
  font-size: 1.8rem;
  color: #b6b4b5;
  line-height: 2.16rem;
  font-weight: 700;
}

.heading-quaternary {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 500;
}
