.section-search {

  &__heading-container {
    margin-bottom: 6.2rem;
    @include md(tablet) {
      margin-bottom: 3.5rem;
    }
    @include md(desktop) {
      margin-bottom: 5.7rem;
    }

    .heading-secondary {
      @include main-font(30px, "h-b");
      line-height: 36px;
      @include md(desktop) {
        @include main-font(45px, 'h-b');
        line-height: 54px;
      }
    }
  }

  &__form {

    position: relative;
    @include md(tablet) {
      grid-template-columns: 3fr 2fr 1fr 2fr;
      display: flex;
    }
    @include md(desktop) {
      justify-content: space-between;
    }
  }

  &__input-container {
    display: flex;
    flex-wrap: wrap;

    @include md(tablet) {
      flex-basis: 75%;
    }
    @include md(desktop) {
      box-shadow: $shadow_1;
      flex-basis: calc(100% - 14rem);
      border-radius: 1rem;
      overflow: hidden;
      height: 100%;
    }

    & > *:not(:last-child) {
      margin-bottom: 2rem;
      @include md(tablet) {
        margin-bottom: 0;
        margin-right: 1rem;
      }
      @include md(desktop) {
        margin-right: 0;
      }
    }
  }

  &__input-field {
    &--name {
      // grid-column: 1 / -1;
      flex-basis: 100%;
      @include md(tablet) {
        flex-basis: 43%;
      }
      @include md(desktop) {
        position: relative;
        flex-basis: 45%;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 80%;
          width: 1px;
          background-color: rgba(216, 216, 216, 1);
        }
      }
    }
    &--location {
      flex-basis: 100%;
      // grid-column: 1 / -1;
      @include md(tablet) {
        flex-basis: 38%;
      }
      @include md(desktop) {
        position: relative;
        flex-basis: 40%;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 80%;
          width: 1px;
          background-color: rgba(216, 216, 216, 1);
        }
      }
    }
    &--price {
      flex-basis: 47%;
      @include md(tablet) {
        flex-basis: 13%;
      }
      @include md(desktop){
        flex-basis: 15%;
      }
    }
  }
  &__button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 47%;
    @include md(tablet) {
      position: static;
      width: 25%;
    }
    @include md(desktop){
      height: 56px;
      width: 125px;
    }
    .search__btn {
      @include md(desktop) {
        padding: 1.7rem 3.65rem;
      }
    }
  }
  &__input {
    padding: 0.85rem 1.4rem;
    line-height: 1.68rem;
    @include font(14px, "h-b", $font-color);
    text-align: center;
    box-shadow: $shadow_1;
    border-radius: 1rem;
    @include md(desktop){
      text-align: start;
    }
    &:focus::placeholder {
      color: transparent;
    }
    &::placeholder {
      text-align: center;
      @include font(14px, "h-b", $grey-dark);
      @include md(desktop){
        font-size: 18px;
        text-align: start;
      }
    }
    @include md(desktop){
      padding: 1.7rem 2.7rem;
      box-shadow: none;
      border-radius: 0;
    }
  }
}
