.section-search {
  padding: 2rem;
  @media only screen and (min-width: 820px) {
    padding-right: 5.1rem;
    padding-left: 5.1rem;
  }

  &__heading-container {
    margin-bottom: 4rem;

    .heading-secondary {
      @include main-font(30px, "h-b");
    }
  }

  &__form {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-gap: 1.5rem;
    // justify-content: center;

    position: relative;
    @media only screen and (min-width: 820px) {
      grid-template-columns: 3fr 2fr 1fr 2fr;

      display: flex;
    }
    @media only screen and (min-width: 1200px) {
      // grid-template-columns: 4fr 3fr 2fr 1fr;
      // grid-gap: 0;
      // box-shadow: $shadow_1;
      justify-content: space-between;
    }
  }

  &__input-container {
    display: flex;
    flex-wrap: wrap;

    @media only screen and (min-width: 820px) {
      flex-basis: 75%;
    }
    @media only screen and (min-width: 1200px) {
      box-shadow: $shadow_1;
      flex-basis: 74%;
      border-radius: 1rem;
      overflow: hidden;
    }

    & > *:not(:last-child) {
      margin-bottom: 2rem;
      @media only screen and (min-width: 820px) {
        margin-bottom: 0;
        margin-right: 1rem;
      }
      @media only screen and (min-width: 1200px) {
        margin-right: 0;
      }
    }
  }

  &__input-field {
    &--name {
      // grid-column: 1 / -1;
      flex-basis: 100%;
      @media only screen and (min-width: 820px) {
        flex-basis: 43%;
      }
      @media only screen and (min-width: 1200px) {
        position: relative;
        flex-basis: 45%;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 80%;
          width: 1px;
          background-color: rgba(216, 216, 216, 1);
        }
      }
    }
    &--location {
      flex-basis: 100%;
      // grid-column: 1 / -1;
      @media only screen and (min-width: 820px) {
        flex-basis: 38%;
      }
      @media only screen and (min-width: 1200px) {
        position: relative;
        flex-basis: 40%;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 80%;
          width: 1px;
          background-color: rgba(216, 216, 216, 1);
        }
      }
    }
    &--price {
      flex-basis: 47%;
      @media only screen and (min-width: 820px) {
        flex-basis: 13%;
      }
      @media only screen and (min-width: 1200px) {
        flex-basis: 15%;
      }
    }
  }
  &__button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 47%;
    @media only screen and (min-width: 820px) {
      position: static;
      width: 25%;
    }
    @media only screen and (min-width: 1200px) {
      width: 24%;
    }
  }
  &__input {
    padding: 0.85rem 1.4rem;
    line-height: 1.68rem;
    @include font(14px, "h-b", $font-color);
    text-align: center;
    box-shadow: $shadow_1;
    border-radius: 1rem;
    &:focus::placeholder {
      color: transparent;
    }
    &::placeholder {
      text-align: center;
      @include font(14px, "h-b", $grey-dark);
    }
    @media only screen and (min-width: 1200px) {
      box-shadow: none;
      border-radius: 0;
    }
  }
}
