.section-search {
  padding: 2rem;

  &__heading-container {
    margin-bottom: 4rem;

    .heading-secondary {
      @include main-font(30px, 'h-b')
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  &__input-field {
    &--name {
      grid-column: 1 / -1;
    }
    &--location {
      grid-column: 1 / -1;
    }
  }
  &__input {
    padding: 0.85rem 2rem;
    line-height: 1.68rem;
    @include font(14px, 'h-b', $font-color);
    text-align: center;
    box-shadow: $shadow_1;
    border-radius: 1rem;
    &:focus::placeholder {
      color: transparent;
    }
    &::placeholder {
      text-align: center;
      @include font(14px, 'h-b', $grey-dark);
    }
  }
}
